h1{
    color: maroon;
}

.post{
    background-color: blanchedalmond;
}

.username{
    font-style: italic;
}

.new-post{
    text-decoration: none;
    color: black;
    text-decoration: underline;
}